#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100vw;
  max-height: 100vh; 
  min-width: 100vw;
  min-height: 100vh;
  margin: 20px 0px;
  padding: 0; 
  text-align: left;
  justify-content:center; 
  align-items: flex-start; 
  font-family: 'Roboto', sans-serif;
}

.title {
  color:#c6ff1d;
  font-size: 96px;
  font-weight: 550;
  margin: 0;
  padding: 0; 
  font-family: 'Courier New', Courier, monospace;
  
}

.page-header {
  color: #c6ff1d;
  font-weight: 550;
  font-size: 32px; 
  margin: 0; 
  width: 100%; 
  text-decoration: none; 
  font-family:'Courier New', Courier, monospace;
  background: url("public/assets/topo_bg_bw.PNG"); 
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center; 

}

.info-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 48px;
    text-align: center;
  } 
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;  
  padding: 20px 0px; 
}

.home-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url('/assets/mountain_bg_cutout_bw.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  pointer-events: none;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto; 
  color: white;
  padding: 40px; 
  border-radius: 8px;
}

.login > input {
  border: 1px solid #ccc; 
}

/* SEARCH BAR STYLES */
.search-container {

  width: 100%;    
  height: 40px; 
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.search-bar {
  position: relative; 
  width: 100%; 
}

.search-input {
  width: 100%;
  height: 100%;
  padding: 8px 8px 8px 8px;
  box-sizing: border-box;
  border: 1px solid #888;
  border-radius: 4px;
  font-size: 18px;
}

.search-suggestions {
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 6000;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

/* Individual suggestion item */
.search-suggestion-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  background: #fff;
}

.search-suggestion-item.route {
  color: #f6a23f;
}

.search-suggestion-item.area {
  color: #29435c;
}

.search-suggestion-type {
  font-size: 12px;
  color: #888;
}

.prev-area-button {
  padding: 10px 20px;
  width: fit-content;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(41, 67, 92, 0.13);
  transition: background 0.18s, color 0.18s, box-shadow 0.18s;
  background: rgba(57, 62, 70, 0.8); /* dark gray */
  color: #c6ff1d; /* lime green */
  z-index: 6000;  
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;        
  justify-content: flex-start; 
  max-width: 70vw;
  gap: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 40px;
  border-radius: 4px; 
}

.parent-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;     
}

.parent-container-row {
  flex-direction: row;
  justify-content: flex-start; /* Center children horizontally */
  align-items: center;
}

.parent-container-column {
  flex-direction: column; 
}

.compare-buttons-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .page-container {
    max-width: 100vw;
    min-width: 100vw; 
    align-items: center;
    padding: 20px 0 0 0;    
  }

  .parent-container {
    align-items: center; 
  }
  
  .parent-container-row {
    flex-direction: column; 
  }

  .page-container > * {
    min-width: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

  .parent-container-row > * {
    min-width: 90%;
    max-width: 90%;
    box-sizing: border-box;
  }

  .compare-buttons-row {
    flex-direction: column;
  }
}

.text-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  padding: 5px;
  border: none; 
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.child-container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;   
}

.child-container p {
  margin: 0; 
}

.child-container-row {
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: stretch;
  justify-content: space-between;
  max-width: 600px; 
  min-width: 300px; 

}

.nested-row {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center; 
  text-align: center; 
  gap: 10px;
  width: 100%;
  padding: 0; 
}

/* Styles for Model Settings Elements    */
/* ------------------------------------- */
.nested-row input {
  width: 60px;
  height: 30px;
  box-sizing: border-box; 
  color: #232D3F;  
}

.nested-row select {
  width: 94px;
  height: 22px; 
}

.nested-row label {
  align-items: center; 
  justify-content: flex-start;  
}
/* ---------------------------------------------- */

.child-container-column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  max-width: 300px;
  border-radius: 4px; 
}


.child-container-column input {
  height: 40px;
  box-sizing: border-box; 
  border-radius: 5px;  
}
.child-container-column select{
  width: 100%;
  height: 40px; 
  box-sizing: border-box;
  border-radius: 5px;
}
.child-container-column label {
  align-items: center; 
  justify-content: flex-start;  
}

/* ROUTE THUMBNAIL STYLES */
/* ---------------------------------- */
.thumbnail {
  width: 250px;
  height: 250px;
  min-width: 250px;
  max-width: 250px;
  min-height: 250px;
  max-height: 250px;
  justify-content: flex-start;
  background: rgba(48, 6, 6, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 0;
  padding: 0;
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(.4,2,.6,1), box-shadow 0.2s;
}

.thumbnail--selected {
  border: 2px solid rgb(85, 132, 251) !important; /* persistent green border */
  z-index: 2;
}

.thumbnail--highlight {
  animation: highlight-bg-expand-fade 0.7s cubic-bezier(.4,2,.6,1) forwards;
  background: rgba(85, 132, 251,0.3) !important;
}

@keyframes highlight-bg-expand {
  0% {
    background: radial-gradient(circle, rgba(228,255,146,0.0) 0%, rgba(228,255,146,0.0) 0%, rgba(48,6,6,0.3) 100%);
  }
  40% {
    background: radial-gradient(circle, rgba(228,255,146,0.2) 20%, rgba(228,255,146,0.1) 60%, rgba(48,6,6,0.3) 100%);
  }
  70% {
    background: radial-gradient(circle, rgba(228,255,146,0.5) 60%, rgba(228,255,146,0.3) 90%, rgba(48,6,6,0.3) 100%);
  }
  100% {
    background: radial-gradient(circle, rgba(228,255,146,0.7) 0%, rgba(228,255,146,0.5) 80%, rgba(48,6,6,0.3) 100%);
  }
}

@keyframes highlight-bg-expand-fade {
  0% {
    background: radial-gradient(circle, rgba(228,255,146,0.0) 0%, rgba(228,255,146,0.0) 0%, rgba(48,6,6,0.3) 100%);
  }
  60% {
    background: radial-gradient(circle, rgba(228,255,146,0.5) 100%, rgba(228,255,146,0.5) 100%);
  }
  100% {
    background: rgba(228,255,146,0.5);
  }
}

.thumbnail-image-container {
  width: 250px;
  height: 200px;
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(11, 29, 40, 0.8);
  border-radius: 0 0 4px 4px; 

}
.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.25s cubic-bezier(.4,2,.6,1);
  border-radius: 4px; 
}

@media screen and (max-width: 480px) {

  .thumbnail {
    width: 100%;
    height: 300px;
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    max-height: 300px;
    cursor: default;
    transition: none;
  }

  .thumbnail-image-container {
    width: 100%;
    height: 250px;
  }
}
/* -------------------------------------------- */
/* MEDIA AND MAP STYLES */
/* -------------------------------------------- */

.media {
  width: 100%;
  max-width: 600px; /* <-- changed from 100% to 600px */
  height: auto;
  max-height: 70vh; 
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.8) 1px 1px 4px;
  box-sizing: border-box;
}

.video-wrapper {
  max-width: 100%; /* <-- changed from 600px to 100% */
  width: 100%;
}

.box-sliders {
  font-size: 18px;
  padding: 2px 6px;
  background: rgba(0,0,0,0.4);
  border-radius: 8px;
  color:honeydew;  

}

.map-container {
  position: fixed;
  top: 100px;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  padding: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  z-index: 100;
  border-radius: 4px; 
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  z-index: 0;
  border-radius: 4px;
}

.map-legend-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(11, 29, 40, 0.9);
  color: #c6ff1d;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  z-index: 1000;
  transition: background 0.2s;
}

.map-legend-toggle:hover {
  background: rgba(11, 29, 40, 1);
}

.map-legend-dropdown {
  position: absolute;
  top: 45px;
  right: 10px;
  background: rgba(11, 29, 40, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 15px;
  z-index: 1000;
  min-width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .map-container {
    top: 100px;
    left: 5vw;
    width: 100vw;
    height: 85vh;
  }

  .map-legend-toggle {
    max-width: 150px; 
  }

}

.map-legend-dropdown h3 {
  color: #c6ff1d;
  margin: 0 0 10px 0;
  font-size: 16px;
}

.map-legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  color: #ccc;
  font-size: 14px;
}

.map-legend-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
}

.select-location {
  box-sizing: border-box;
  align-items: flex-start; 
}

.select-location select {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  padding: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* -------------------------------------------- */
/* ICON STYLES */
/* -------------------------------------------- */

.switch-icon {
  width: 30px; 
  height: 30px;
  padding: 5px;  
  align-self:center; 
}
.switch-icon:hover {
  cursor: pointer; 
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

.user-icon {
  width: 30px; 
  height: 30px;
  padding: 5px; 
  border-radius: 50%;
  border: 2px solid white;
  background-image: url('/assets/user_icon.png');
  background-size: contain;
  background-position: center;
  z-index: 9999; 
   
}

.upload-text-hover {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hover-target-icon:hover + .upload-text-hover {
  opacity: 1;
  color:#c6ff1d;
}

/* -------------------------------------------- */
/* BUTTON STYLES */
/* -------------------------------------------- */

.button-label {
  background-color: rgb(68, 168, 255);
  font-size: 20px;
  font-weight: 500; 
  color: black;
  box-sizing: border-box;
  width: 285px;
  padding: 4px 20px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none; 
  height: 40px;  
  
}

.button-label:hover {
  background-color: #155E95;
}

.button-label:disabled {
  background-color: darkslategray;
  cursor: not-allowed;
}

.nav-span {
  cursor: pointer;
  margin: 0;
  gap: 10px; 
  display: flex; 
  align-items: center;
}

/* ANIMATION STYLES */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 1s ease-in-out infinite;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.pulse-animation:hover {
  animation: none;
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
}

.processing {
  position: relative;
  overflow: hidden;
}

.processing::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: rgba(); /* scanner color */
  transform: skewX(-20deg);
  animation: scannerMove 8s infinite linear;
}

@keyframes scannerMove {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}.processing {
  position: relative;
  overflow: hidden;
}

.processing::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  background: rgba(198, 255, 29, 0.5); /* lime green with transparency */
  transform: skewX(-20deg);
  animation: scannerMove 10s infinite linear;
}

@keyframes scannerMove {
  0% {
    left: -50%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

/* SCROLLING BACKGROUND */
.parallax-bg {
  position: fixed;
  top: 15%;
  left: 50px;
  width: 90%;
  height: 90%;
  background-image: url('/assets/mountain_cutout.PNG');
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.area-navigator-overlay {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  width: 45%;
  max-width: 600px; 
  background: linear-gradient(90deg, rgb(11, 29, 40), rgba(11, 29, 40, 0.5));/* updated background */
  color: black; /* high-contrast light color */
  padding: 0px 0px 20px 0px;
  font-size: 18px; 
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.saved-routes-container {
  flex-direction: row;
  justify-content: space-between; /* Center children horizontally */
  align-items: flex-start;
}

.div-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  background: rgba(11, 29, 40, 1); 
  background-size: cover;
  background-position: center;
  padding: 0px 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0; 
  color: #c6ff1d; 
  width: 100%; 
}

@media screen and (max-width: 480px) {

  .page-container {
    max-width: 100vw;
    min-width: 100vw;
    margin: 0; 
  }
  
  .saved-routes-container {
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    width : 95%; 
    background: url()
  }

  .saved-routes-container > * {
    width: 100%;
    max-width: 100%;
    min-width: 100%; 
    box-sizing: border-box;
  }

  .div-header {
    width: 100%;
    max-width: 100%;
    min-width: 100%; 
    font-size: 24px; 
  }
  
}

.area-navigator-header {
  color: #c6ff1d;
  font-weight: 550;
  font-family:'Courier New', Courier, monospace;
  margin: 0; 
  padding: 5px 10px; 
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(11, 29, 40, 0.8), rgba(11, 29, 40, 0.5)); 
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.area-navigator-header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-end;
  justify-content:space-between; 
}

.area-navigator-icon {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 8px;

  object-fit: contain;
  align-self: flex-start; 
}

.slider-thumb-sift,
.slider-thumb-climber {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(180deg, rgba(55, 70, 98, 0.5), rgba(34, 14, 14, 0.4)); /* neutral bar */
  height: 8px;
  border-radius: 2px;
  accent-color: rgba(3,3,3,0.2);
}
.slider-thumb-sift::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 20px;
  background:radial-gradient(circle at 50% 50%, #c6ff1d, #b6eb1a);
  border-radius: 2px;
  border: 1px solid #333;
  cursor: pointer;
  margin-top: -6px; /* center thumb on bar */
  z-index: 9950;
}
.slider-thumb-climber::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 20px;
  background:radial-gradient(circle at 50% 50%, #3293fb, #2a81de);
  border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #333;
  cursor: pointer;
  margin-top: -6px; /* center thumb on bar */
  z-index: 9950;
}

.slider-thumb-climber::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border-radius: 2px;
  border: 2px solid rgb(228, 255, 146);
  cursor: pointer;
  
}
.slider-thumb-sift::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border-radius: 2px;
  border: 2px solid rgb(228, 255, 146);
  cursor: pointer;
}
.slider-thumb-climber::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border-radius: 2px;
  border: 2px solid rgb(228, 255, 146);
  cursor: pointer;
}

.slider-thumb-sift::-webkit-slider-runnable-track,
.slider-thumb-climber::-webkit-slider-runnable-track {
  height: 8px;
  background: rgba(200,200,200,0.2); /* neutral track */
  border-radius: 2px;
  z-index: 9900;
}


.area-navigator-current {
  font-weight: bold;
  text-decoration: underline;
  color: #fafafa;
  margin-bottom: 0;
}

.area-navigator-all {
  font-weight: 550;
  text-decoration: underline;
  margin-bottom: 0;
  color: #fafafa;
}

.area-navigator-item {
  color: #fafafa;
  cursor: pointer;
  margin-bottom: 4px;
  display: block;
  font-size: 1rem;
  transition: color 0.15s;
  padding: 2px 20px; 
}
.area-navigator-item:hover {
  color: #101d29;
  background: linear-gradient(90deg, #c6ff1d, rgba(0,0,0,0)); /* lime green */
}

.area-navigator-route {
  color: #49aaff;
  font-weight: 600;
}

.area-navigator-route-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 50%;
  vertical-align: middle;
}

/* RECENT ROUTES STYLES */

.recent-routes-container {
  gap: 24px;
  justify-content: flex-start;
  align-items: flex-start;
  background: rgba(134, 197, 255, 0.1); /* bluegray tint */
  padding: 24px 0;
  margin-bottom: 24px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.recent-route-thumbnail {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 4px;

}
.recent-route-thumbnail:hover {
  border: 1px solid #c6ff1d;

}

.recent-route-text {
  padding: 8px 12px 4px 12px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:rgba(11, 29, 40, 0.8);
  border-radius: 8px 8px 0 0;
  flex-shrink: 0;
}

.recent-route-title {
  margin: 0 0 2px 0;
  font-size: 16px;
  color: #c6ff1d;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.5px;

}

.recent-route-date {
  margin: 0;
  font-size: 14px;
  color:#fafafa;
  font-weight: 500;
  line-height: 1.2;

}

.recent-route-image-container {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-route-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;

}

.recent-route-img-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: rgb(228, 255, 146);
  font-size: 14px;
  background: #232d3f;
  border-radius: 0 0 8px 8px;
}

.timestamp-label {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 0 0 8px 8px;
  color: rgb(228, 255, 146);
  font-weight: 450;
  letter-spacing: 0.5px;
}

.timestamp-checkbox {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  z-index: 2;
  accent-color: rgb(228, 255, 146);
  border-radius: 4px;
  border: 2px solid #333;
  background: #232d3f;
  box-shadow: 0 1px 4px #232d3f44;
  transition: border 0.2s;
  margin-left: 10px; 
}
.timestamp-checkbox:checked {
  border: 1px solid rgb(205, 254, 56);
}

.map-link {

  background: url('/assets/map-btn-2.jpg') !important;
  background-size: cover;
  background-position: center;
  transition: background 0.2s, transform 0.2s;
}

.map-link:hover {
  background: url('/assets/map-btn.jpg') !important;
  background-size: cover;
  background-position: center;
  transition: background 0.2s;
}

.map-page {
  max-width: 50vw; 
  min-width: 50vw;
  
}

@media screen and (max-width: 480px) {
  .map-page {
    max-width: 100vw; 
    min-width: 100vw;
  }
  
}

.upload-title {
  background: linear-gradient(90deg, rgba(48, 6, 6, 0.6), rgba(0,0,0,0));
  color: rgb(228, 255, 146);
  font-family: inherit;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;

  padding: 10px 20px;
  border-radius: 4px 4px 0 0;
  font-size: 24px;
  font-weight: 500;
  margin: 0;

}

.compare-image-preview-container {
  padding: 50px 20px 20px 50px;
  background: rgba(0,0,0,0.3);
  border-radius: 0 4px 4px 0;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

@media screen and (max-width: 480px) {
  .compare-image-preview-container {
    padding: 40px 10px 10px 40px ;
    border-radius: 0;
    border: none;
    width: 100vw;
    max-width: 100vw;
  }
  
}



